/dts-v1/;
/include/ "system-conf.dtsi"
/ {

/*
 *  Stupid PetaLinux installer doesn't propagate console choice.
 */
 
	chosen {
		bootargs = "console=ttyPS1,9600 earlyprintk";
};
};
/*
 * Stupid PetaLinux installer uses a flash that's not actually
 * listed in the MTD subsystem list!
*/	

&qspi {
	#address-cells = <1>;
	#size-cells = <0>;
	flash0: flash@0 {
		compatible = "micron,n25q00";
		reg = <0x0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <0x17d7840>;
		partition@0x00000000 {
			label = "qspi-fsbl-uboot";
			reg = <0x00000000 0x00200000>;
		};
		partition@0x00200000 {
			label = "qspi-ubi-itb";
			reg = <0x00200000 0x04000000>;
		};
		partition@0x04000000 {
			label = "qspi-ubi-auger";
			reg = <0x04000000 0x08000000>;
		};
	};
};

&gem0 {
        phy-handle = <&phy0>;
	ps7_ethernet_0_mdio: mdio {
	  status = "disabled";
	};
	phy0: phy@0 {
	  compatible = "marvell,88e1510";
	  device_type= "ethernet-phy";
 	  reg = <0>;	  
	};

};
